html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
background-color:black;
}

.pad-top {
  margin-top: 75px;
}

.btn {
  border-radius: 0px;
  background-color: #0f7d8c;
  border-style: none;
}

.panel-primary > .panel-heading {
   background-color: #282828;
}
.panel-primary > .panel-body {
   background-color: #dbdbdb;
}


h1 {
  margin-bottom: 50px;
}

a, a:hover {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.list, .list h2 a {
   color:#efefef;
   font-family: 'Roboto',sans-serif;
}

.list h2 a{
   color: #efefef;
   font-weight:bold;
}

.list h2 a:hover {
  font-weight: bold;
  color: #4d95bc;
}

.form, .form h1, .form .form-group {
   color: #efefef;
   font-family: 'Roboto', sans-serif;
}

button, input, select, textarea {
   color:black;
}

.inline-form {
  display: inline;
}

.new-post {
  margin-bottom: 25px;
}

.capped {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-height: 1.4rem;        /* fallback */
  max-height: 7rem;       /* fallback */
}

/* Create three equal columns that floats next to each other. */
.column {
   float: left;
   width: 33.33%;
   padding: 15px;
}

/* Clear floats after the columns */
.row:after {
   content: "";
   display: table;
   clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other if too
 * small. */
@media (max-width:600px) {
   .column {
      width: 100%;
   }
}
